{% include "views/default/header.html" %}
{% load i18n static %}



<body>
    <div class="container">

        <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

        <p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

        <h2><img width=349 height=262 src="{%static 'images/LIBRO.png'%}" align=right hspace=12 style='font-size:15.0pt;font-family:"Times New Roman",serif'>Nosotros</h2>

        <p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;line-height:107%'>&nbsp;</span></p>

        <p class=MsoNormal style='margin-bottom:0cm;text-align:justify;line-height:
        normal;vertical-align:baseline'><span style='font-size:15.0pt;font-family:"Times New Roman",serif'>
                La empresa pública UPEC-CREATIVA EP provee bienes y servicios, que generan soluciones creativas,
                innovadoras y confiables, basadas en la investigación y el conocimiento. Es una empresa creada por la
                Universidad Politécnica Estatal del Carchi UPEC, mediante Resolución N° 174-CSUP-2017 expedida por el
                Consejo Superior Universitario Politécnico de la UPEC, en sesión del 6 de julio de 2017, para la gestión
                de sectores estratégicos, prestación de bienes y servicios públicos y el desarrollo de otras actividades
                económicas, de conformidad con el artículo 315 de la Constitución de la República del Ecuador.</span>
        </p>

        <p class=MsoNormal style='margin-bottom:0cm;text-align:justify;line-height:
        normal;vertical-align:baseline'><b><span style='font-size:15.0pt;font-family:
        "Times New Roman",serif'>&#8203;</span></b></p>

        <p class=MsoNormal style='margin-bottom:0cm;text-align:justify;line-height:
        normal;vertical-align:baseline'><span
                style='font-size:15.0pt;font-family:"Times New Roman",serif'>UPEC-CREATIVA EP se constituye como una
                empresa pública con personería jurídica, de derecho público, con patrimonio propio, dotada de autonomía
                presupuestaria, financiera, económica, administrativa y de gestión, con domicilio en la ciudad de
                Tulcán, provincia del Carchi; se rige por la Constitución de la República del Ecuador, la Ley Orgánica
                de Empresas Públicas LOEP, el Plan Nacional de Desarrollo (2017-2021), su Escritura de Constitución,
                otras leyes conexas, Reglamentos internos expedidos de acuerdo con la Ley y por otras normas emitidas
                por sus órganos de administración y autoridades; con competencia a nivel local, provincial, regional,
                nacional e internacional.</span></p>

        <p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;line-height:107%'>&nbsp;</span></p>

        <p class=MsoNormal><span lang=EN-US style='font-size:20.0pt;line-height:107%'>&nbsp;</span></p>

    </div>
</body>

{% include "views/default/footer.html" %}