{% include "views/default/header.html" %}
{%load static%}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
   
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="{% static 'images/slide1.jpg' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Programas</h4>
                <span>Ingles y Computación</span>
            </div>
        </div>
         <!-- Slider Item -->
         <div class="sh__item">
            <img src="{% static 'images/slide5.jpg' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Tareas dirigidas</h4>
                <span>
                    
                </span>
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="{% static 'images/slide3.jpg' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Cursos Vacacionales</h4>
                <span></span>
            </div>
        </div>
        <div class="sh__item">
            <img src="{% static 'images/slide4.jpg' %}" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4>Talleres</h4>
                <span></span>
            </div>
        </div>
       
       
      
        
        
       
    </div>
     <!--botones-->
     <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
  
    </div><!-- .sh__btns -->
    <!--flechas-->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
      
    </div><!-- .sh__arrows -->
    
</div>

<div class="container">
<div class="row">
   <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
      <div class="for_box">
         <i><img src="{% static 'images/idea.png' %}"></i>
         <h3>Aprende más</h3>
         <p>Que nuestros Niños tengan un pasantiempo en donde desarrollen nuevas habilidades</p>
      </div>
   </dir>
   <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
      <div class="for_box">
         <i><img src="{% static 'images/tarea.png' %}"></i>
         <h3>Tareas Dirigidas</h3>
         <p>Ayudar a tus hijos en la nivelación de aprendizaje</p>
      </div>
   </dir>
   <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
      <div class="for_box">
         <i><img src="{% static 'images/idiomas.png' %}"></i>
         <h3>Cursos de Ingles</h3>
         <p>Aprender Ingles de una forma divertida</p>
      </div>
   </dir>
   <dir class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
      <div class="for_box">
         <i><img src="{% static 'images/computacion.png' %}"></i>
         <h3>Computación</h3>
         <p>La tecnología hoy es parte de nuestra vida diaria, y siempre debes aprender de ella</p>
      </div>
   </dir>
   
</div>
</div>

{% include "views/default/footer.html" %}