.card-body{
    margin: 0;
    padding: 0;
    background: url(../images/back.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.presentacion {
    height: 421 px;
    width: 51%;
    display: flex;
    margin: auto;
    border-radius: 7px;
    box-shadow: 1px 14px 32px 1px rgba(0,0,0,0);
    overflow: hidden;
    box-sizing: border-box;
}


