<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <!-- <img src="" alt=""> -->
    <center> <h1><b>UNIVERSIDAD POLITÉCNICA ESTATAL DEL CARCHI </b></h1></center>
    <center><h1><b>EMPRESA PÚBLICA</b></h1> </center>
    <center><h2><b>CERTIFICADO DE PAGO DE ESTUDIANTES</b></h2> </center>

    <h1>Nombre del estudiante: <b>{{est.Estudiante}}</b>  </h1>
    <h1>Nombre del curso: <b>{{est.id_curso}}</b>  </h1>
    <h1>Valor a pagar: <b>$$$</b>  </h1>
</body>
</html>