{% include "views/default/header.html" %}



<div class="card">
    <div class="card-header">{{name}}</div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                   <th>Estudiante</th>
                   
                    <th>Teléfono de emergencia</th>                               
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for items in object_list %}
                <tr>
                    <td>{{items.id_est}}</td>
                    
                    <td>  <iframe src="{{items.file_comp.url}}" style="border-radius: 30px;" alt="{{items.Estudiante}}" width="100" height="100" > </td>
                   
                    <td>
                        <a href="salud/edit/{{items.id_fichsal}}" class="btn btn-outline-warning">Editar</a>
                        <a href="salud/delete/{{items.id_fichsal}}" class="btn btn-outline-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="addComprobante" type="button" class="btn btn-primary">Agregar Ficha</a>

    </div>
</div>





<div class="card" style="width: 18rem;">
    {% for items in object_list %}
    <a href="">{{items.id_est}}</a>
   
    {% endfor %}
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {% include "views/default/footer.html" %}